<div class="row">
    <div class="col-md-12">
        <h2>Categories</h2>
        <hr>
        {{#if category.length}}
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Category ID</th>
                    <th scope="col">Category Name</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {{#each category}}
                <tr>

                    <th scope="row">
                        <a href="/posts?category={{id}}">{{id}}</a>
                    </th>
                    <td>
                        <a href="/posts?category={{id}}">{{category}}</a>
                    </td>
                    <td>
                        <a href="categories/delete/{{id}}" class="btn btn-danger">Remove</a>            
                    </td>                    
                </tr>
                {{/each}}

            </tbody>
        </table>
        {{else}}
            <div class="col-md-12 text-center">
                <strong>{{message}}</strong>
            </div>
        {{/if}} 

        <a href="/categories/add" class="btn btn-lg btn-success pull-right">Add Category</a>   
    </div>

</div>